.footer-links{
  width: 100%;
  text-align: center;
  color:#efefef;
}

.footer-links li{
  display:inline-block;
  color:#efefef;
  padding:12px;
  font-size: 14px;
}

.footer-links li a{
  color:#afafaf;
}

.footer-links li a:hover{
  color:#efefef;
}
