<footer class="wrapper-container wrapper-dark">
    <div class="res-padding">
      <div class="section-padding">
        <ul class="footer-links">
          <li>Workato 2018 ©</li>
          <li><a target="_blank" href='https://www.workato.com/legal/privacy-policy'>Privacy</a></li>
          <li><a target="_blank" href='https://www.workato.com/legal/terms-of-service'>Terms</a></li>
          <li><a target="_blank" href='tel:+1 (844) GO-WORKATO'>+1 (844) GO-WORKATO</a></li>
        </ul>
      </div>
    </div>
</footer>
