<nav class="nav-bar">
<div class="nav-bg"></div>
<ul class="res-padding">
  <li>
    <a class="logo-wrapper" href="{{ "/" | site.baseurl}}">
        <img class="workato-logo" src="{{ '/img/workatoJobs_logo_color.svg' | prepend: site.baseurl }}">
    </a>
  </li>
  <!-- <li><a class="nav-link" href="/perks/">Perks</a></li> -->
  <!-- <li><a class="nav-link" href="/process/">Hiring Process</a></li> -->
  <!-- <li><a class="nav-link" href="/openings/">Openings</a></li> -->
  <li class="return-link"><a class="nav-link" target="_blank" href="https://workato.com">Return to Workato</a></li>
  <li class="nav-hamburg" ><a href="#/"><i class="fas fa-bars"></i></a></li>
</ul>
</nav>
<div id="nav-dummy" class="nav-dummy"></div>
