<section class="wrapper-container wrapper-white" id="job-container">
  <div class="res-padding">
    <div class="section-padding">
      <span class="section-header">Openings</span>
      <div class="row">
        <div class="openings-left-panel">
          <ul class="filter-form" id="locFilter">
            <li class="filter-loc active">All Offices</li>
          </ul>
          <ul class="filter-form" id="depFilter">
            <li class="filter-dep active">All Departments</li>
          </ul>
        </div>
        <div class="openings-right-panel">
          <span class="no-jobs hide-job"><i class="far fa-frown"></i>There are no jobs in this category at this moment.</span>
          <ul class="job-list-ul"></ul>
        </div>
      </div>
    </div>
  </div>
</section>
